

img {
	display: block;
	width: 600px;
	margin: 200px auto 60px;
}

h3 {
	font-family: "Times", sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	color: #777;
}

a  {
	font-family: "Times", sans-serif;
	display: block;
	width: 200px;
	text-align: center;
	margin: 15px auto;
	text-decoration: none;
	color: #777;
}