body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #3F51B5;
}

.container {
	max-width: 1400px;
}

.clear {
	clear: both;
}



/************************
*****   Main view   *****
************************/

div.mainWrapper {
	margin: 0;
}

#dateNav {
	width: 600px;
	justify-content: center;
	color: #eee;
}

#dateNav.row {
	margin: 20px auto;
}

.dateLink {
	width: 200px; 
	text-align: center;
	margin: 15px 0;
	display: inline-block;
}

.dateLink:link, .dateLink:visited {
	color: #C5CAE9;
}



ul.gamesWrapper {
	list-style: none;
	width: 1200px;
	margin: 20px auto;
	padding: 0;
}

.game {
	display: inline-block;
	vertical-align: top;
	background: #eee;
	border-radius: 5px;
	margin: 0 10px 20px;
	padding: 10px 20px;
	width: 380px;
}

.gameDescription {
	height: 100px;
	margin-left: 10px;
	margin-top: 5px;
}

.gameDescription img {
	width: 100px;
	float: left;
}

#overallScore {
	/*background: #232854;
	color: #eee;*/
	float: left;
	/*width: 110px;*/
	font-size: 3em;
	font-weight: 100;
	margin: 20px 28px 0;
	padding: 10px;
	text-align: center;
}



/************************
*****   Game Perf   *****
************************/

.gamePerf {
	float: left;
	width: 150px;
	font-size: 0.9em;
}

p.scoreNumber {
	text-align: center;
	font-size: 2em;
	margin: 0;
}

p.scoreText {
	text-align: center;
	font-size: 1.1em;
	margin: 0;
}

.gamePerfDetails p {
	margin: 3px 0;
	font-size: 1em;
}


/*************************
*****   Indiv Perf   *****
*************************/

.indivPerf {
	float: right;
	width: 150px;
	font-size: 0.9em;
}

.indivPerfDetails p {
	margin: 3px 0;
	font-size: 1em;
}


/**************************
*****   Plus button   *****
**************************/

.buttonsWrapper {
	margin: 15px 0 0;
	display: flex;
	justify-content: space-around;
	clear: both;
}

.buttonsWrapper button, .buttonsWrapper a {
	background: #FF5722;
	color: white;
	font-weight: 200;
	cursor: pointer;
	font-size: 0.9rem;
}

.buttonsWrapper button:hover, .buttonsWrapper a:hover {
	background: rgb(180, 61, 25);
}

.plusButton {
	width: 22px;
	height: 22px;
	margin: 5px auto;
	background: #7986CB;
	border: 1px solid #eee;
	border-radius: 17px;
	cursor: pointer;
}


.plusButton:hover {
	background: #3F51B5;
}

.plusButtonText {
	color: #eee;
	font-size: 1.3em;
	position: relative;
	top: -4px;
	left: 5px;
}



.gameLink {
	display: block;
	clear: both;
}



p.noGames {
	color: #222;
	font-weight: bold;
}


.hidden {
	display: none;
}